@media (max-width: 576px) {
    #bs-override .bg-semitransparent ul li a {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.logo {
    width: 50px;
    height: 50px;
}

#bs-override .bg-dark li a {
    color: white;
}

#bs-override #nav-top.bg-semitransparent {
    background-color: rgba(255, 255, 255, 0.7) !important;
    transition: background-color 0.7s linear;
}

#bs-override #nav-top.bg-dark {
    transition: background-color 0.7s linear;
}

.image-article {
    height: 200px;
    overflow: hidden;
}

.image-article img {
    margin-top: -40%;
}

.no-decoration {
    color: inherit;
    text-decoration: none;
}

.no-decoration:active {
    color: inherit;
}

.no-decoration:hover {
    color: inherit;
}

.article-footer {
    font-size: 0.9rem;
}

.article-footer ul, p {
    display: inline-block;
}

.article-footer ul {
    float: right;
}

.author {
    border-radius: 10%;
    cursor: pointer;
    text-decoration: none;
}
#bs-override .author:hover {
    background-color: #dc3545 !important;
    text-decoration: none;
    transition: background-color .4s ease-out;

}

.article-footer ul li a:hover {
    color: #dc3545 !important;
    text-decoration: none;
    transition: color .4s ease-out;
}

article:last-child hr {
    display: none;
}
